<!DOCTYPE html>

<html>
  <%= processTemplate('_head') %>
  <body>

    <div class="container hide-on-phones">
      <div id="browser-alert" class="row">
        <div class="ten columns centered">
          <h2>Please view this website on your mobile phone.</h2>
          <h4>Build your mobile website today with<br /><a href="http://www.scanshowsell.com">ScanShowSell.com</a></h4>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="island-a" class="row">
	<div class="twelve columns">
	  <header>
	    <h3 class="site-name">Smith &amp; Sons Flooring</h3>
	    <p class="tagline">Established in 1899</p>
	  </header>
	</div>
      </div>

      <div id="island-b" class="row">
	<div id="about" class="twelve columns">
	  <img src="../images/white/head-about.png" alt="an image of a toolbox" title="About Us" />
	  <h4>About Us</h4>
	  <hr />
	  <h5>Mission</h5>
          <p>Our Mission: At Pat Murphy Electric, Inc., our goal is to provide high quality service, good value, and on-time completion of projects within budget.</p>
          <p>The Pat Murphy Electric, Inc. team is extensively trained in the latest electrical and data technologies, attention to detail, and listening to the needs and concerns of our customers.</p>
          
          <h5>History</h5>
          <p>Pat Murphy Electric, Inc., Inc. was founded in 1982 by John Patrick Murphy to provide electrical services to the growing construction industry in the Metro Atlanta area. In 1994, Guy Roberts joined the company as CEO. Guy has over 25 years experience in all phases of the electrical business. His knowledge and experience have allowed Pat Murphy Electric, Inc. to expand into additional markets.</p>
          <p>In 1995, Pat Murphy Electric, Inc. initiated residential and commercial service which has grown into a present fleet of fully stocked service vehicles and experienced electrical technicians providing expert electrical service, including 24 hour emergency service, to an expanding customer base in the Atlanta and Knoxville metro areas.</p>

	  <ul class="block-grid two-up">
	    <li><p><a href="services.html" class="nice charcoal medium button">Services</a></p></li>
	    <li><p><a href="areas.html" class="nice charcoal medium button">Service Area</a></p></li>
	  </ul>
          <a href="index.html" class="nice white medium button">Home</a>
	</div>
      </div>

      <footer>
        <a href="http://www.scanshowsell.com" class="button radius racetrack">Tap here to build your mobile site with ScanShowSell.</a>
        <div id="island-f" class="row">
          <div id="copyright" class="twelve columns">
            <p>&copy;&nbsp;2012, Smith &amp; Sons Flooring</p>
          </div><!-- /copyright -->
        </div><!-- /island-c -->
      </footer>
    </div><!-- /container -->
  </body>
</html>
