<!DOCTYPE html>

<html>
<%= processTemplate('_head') %>
<body>

  <div class="container hide-on-phones">
    <div id="browser-alert" class="row">
      <div class="ten columns centered">
        <h2>Please view this website on your mobile phone.</h2>
        <h4>Build your mobile website today with<br /><a href="http://www.scanshowsell.com">ScanShowSell.com</a></h4>
      </div>
    </div>
  </div>

  <div class="container show-on-phones hide-on-desktops">
    <div id="content-a" class="row">
      <div class="twelve columns">
        <header>
          <h3 class="site-name">Smith &amp; Sons Flooring</h3>
          <p class="tagline">Established in 1899</p>
          <hr />
          <p class="address">34 Peachtree Street&nbsp;&nbsp;-&nbsp;&nbsp;Atlanta, GA</p></center>
        </header>
      </div>
    </div>

    <div id="btn-group-wrap" class="row">
      <div id="btn-group" class="twelve columns">
        <div id="contact" class="btn-wrap">
          <a href="#" id="call" class="button large nice white">Call</a>
          <a href="#" id="text" class="button large nice white">Text</a>
          <a href="#" id="email" class="button large nice white">Email</a>
        </div>
      </div><!--/span-->
    </div><!-- /row -->

    <footer>
      <a href="http://www.scanshowsell.com" class="button radius racetrack">Tap here to build your mobile site with ScanShowSell.</a>
      <div id="island-f" class="row">
        <div id="copyright" class="twelve columns">
          <p>&copy;&nbsp;2012, Smith &amp; Sons Flooring</p>
        </div><!-- /copyright -->
      </div><!-- /island-c -->
    </footer>
  </div><!--/.container-->

</body>
</html>
