<!DOCTYPE html>

<html>
<%= processTemplate('_head') %>
<body>

<div class="container hide-on-phones">
<div id="browser-alert" class="row">
  <div class="ten columns centered">
    <h2>Please view this website on your mobile phone.</h2>
    <h4>Build your mobile website today with<br /><a href="http://www.scanshowsell.com">ScanShowSell.com</a></h4>
  </div>
</div>
</div>

<div class="container">
	<div id="island-a" class="row">
	    <div class="twelve columns">
	        <header>
	          <h3 class="site-name">Smith &amp; Sons Flooring</h3>
	          <p class="tagline">Established in 1899</p>
	        </header>
	    </div>
    </div>

	<div id="island-b" class="row">
		<div id="testimonials" class="twelve columns">
			<img src="../2/images/head-testimonials.png" alt="an image of a toolbox" title="Testimonials" />
		    <h4>Testimonials</h4>
		    <hr />
		    <p>People love us. Here are a few examples of why we are Atlanta's number one independent electrical contractors.</p>
        <ul id="list-panel">
          <li>
            <p>"At Pat Murphy Electric, Inc., our goal is to provide high quality service, good value, and on-time completion of projects within budget."</p>
            <p class="name">Timothy R. - <i>Buckhead</i></p>
          </li>
          <li>
            <p>"At Pat Murphy Electric, Inc., our goal is to provide high quality service, good value, and on-time completion of projects within budget."</p>
            <p class="name">Salon Hotel - <i>West Midtown</i></p>
          </li>
          <li>
            <p>"At Pat Murphy Electric, Inc., our goal is to provide high quality service, good value, and on-time completion of projects within budget. Good value, and on-time completion of projects within budget."</p>
            <p class="name">James K. - <i>Chamblee</i></p>
          </li>
        </ul>

			<ul class="block-grid two-up">
				<li><p><a href="specials.html" class="nice charcoal medium button">Special Offers</a></p></li>
				<li><p><a href="credentials.html" class="nice charcoal medium button">Credentials</a></p></li>
			</ul>
      <a href="index.html" class="nice white medium button">Home</a>
		</div>
	</div>

    <footer>
      <a href="http://www.scanshowsell.com" class="button radius racetrack">Tap here to build your mobile site with ScanShowSell.</a>
      <div id="island-f" class="row">
        <div id="copyright" class="twelve columns">
          <p>&copy;&nbsp;2012, Smith &amp; Sons Flooring</p>
        </div><!-- /copyright -->
      </div><!-- /island-c -->
    </footer>
</div><!-- /container -->
</body>
</html>
