<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <meta charset="utf-8" />
  
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  
  <title>Smith &amp; Sons Flooring</title>
  
  <!-- Included CSS Files -->
  <!-- Combine and Compress These CSS Files -->
  <link rel="stylesheet" href="../2/wood-green/css/globals.css">
  <link rel="stylesheet" href="../2/wood-green/css/home.css">
  <link rel="stylesheet" href="../2/wood-green/css/typography.css">
  <link rel="stylesheet" href="../2/wood-green/css/grid.css">
  <link rel="stylesheet" href="../2/wood-green/css/ui.css">
  <link rel="stylesheet" href="../2/wood-green/css/forms.css">
  <link rel="stylesheet" href="../2/wood-green/css/mobile.css">
  <!-- End Combine and Compress These CSS Files -->
  <link rel="stylesheet" href="../2/wood-green/css/app.css">
  <link rel="stylesheet" href="../2/wood-green/css/photoswipe.css">
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="../2/wood-green/css/ie.css">
  <![endif]-->

  
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- Included JS Files -->
  <!-- Combine and Compress These JS Files -->
  <script src="../2/js/jquery-1.5.1.min.js"></script>
  <script src="../2/js/jquery.reveal.js"></script>
  <script src="../2/js/jquery.orbit-1.3.0.js"></script>
  <script src="../2/js/forms.jquery.js"></script>
  <script src="../2/js/jquery.customforms.js"></script>
  <script src="../2/js/jquery.placeholder.min.js"></script>
  <!-- End Combine and Compress These JS Files -->
  <script src="../2/js/app.js"></script>
</head>
