/*	--------------------------------------------------
	:: Type Styles
	-------------------------------------------------- */


/*	--------------------------------------------------
	:: Block Styles
	-------------------------------------------------- */
	
	#browser-alert				{margin-top:15%;padding: 72px 20px;background:#494949;border:10px solid #414141;color:#f3f3f3;height:150px;}
	#browser-alert div h2,
	#browser-alert div h4 		{color:#f3f3f3 !important;}
	#hero-wrap 					{margin-bottom:18px;}
	#island-a 					{
								margin:0;
								padding:0;
								border-top:5px solid #050917;
								background: #fcfcfc; /* Old browsers */
								background: -moz-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* IE10+ */
								background: linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
								}
	#toolbar				 	{margin:18px 0 0 8% !important;}
	#btn-group-wrap 			{
								margin:0;
								padding:18px 0;
								background: url('../../images/2/wood.jpg') left top repeat, #ececec;
								box-shadow:inset 0px 7px 3px -6px rgba(0, 0, 0, 0.25);
								}
	.btn-wrap 					{border-radius:2px;border:1px solid rgba(0,0,0,0.5);box-shadow:0 0 0 5px rgba(0,0,0,0.25);float:left;}
	.btn-wrap a					{padding:18px 0;font-size:1.13em !important;}
	.btn-wrap a:first-child 	{border-radius:2px 2px 0 0;}
	.btn-wrap a:last-child		{margin-bottom:0;border-radius:0 0 2px 2px;}
	#list-group					{
								margin:0;
								padding:0;
								background: #fcfcfc; /* Old browsers */
								background: -moz-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top, #fcfcfc 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top, #fcfcfc 0%,#f9f9f9 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top, #fcfcfc 0%,#f9f9f9 100%); /* IE10+ */
								background: linear-gradient(top, #fcfcfc 0%,#f9f9f9 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
								box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
								}
    #list-panel         		{margin:0;padding:0;list-style:none;}
    #list-panel li        		{margin:0;padding-top:10px;border-bottom:1px solid #d3d3d3;}
    #list-panel li:last-child 	{border:none;}
    #list-panel li a      		{
				                 margin:0;
				                 padding:10px 0 10px 80px;
				                 background-image:url('../../images/2/list-sprite.png');
				                 background-repeat:no-repeat;
				                 color:#292929;
				                 text-decoration:none;
				                 line-height:.875em;
				                 display:block;
				                 }
    #list-panel li a.services 	 {
				                 background-position-x:8px;
				                 background-position-y:-624px;
				                 }
    #list-panel li a.about    	 {
				                 background-position-x:8px;
				                 background-position-y:5px;
				                 }
    #list-panel li a.areas    	 {
				                 background-position-x:7px;
				                 background-position-y:-120px;
				                 }
    #list-panel li a.offers   	 {
				                 background-position-x:7px;
				                 background-position-y:-249px;
				                 }
    #list-panel li a.testimonials   {
				                 background-position-x:7px;
				                 background-position-y:-373px;
				                 }
    #list-panel li a.credentials {
				                 background-position-x:8px;
				                 background-position-y:-499px;
				                 }
    #list-panel li a h3     	{line-height:.875em;}
    #list-panel li a p      	{color:#393939;font-weight:500;}	

	footer						{
								margin:0;
								padding-top:18px;
								background: url('../../images/2/wood.jpg') left top repeat, #ececec;
								box-shadow:inset 0px 7px 3px -6px rgba(0, 0, 0, 0.25);
								}
	footer a 					{margin:0 20px 18px 20px;}
	#island-f 					{
								margin:0;
								padding-top:18px;
								background: #fcfcfc; /* Old browsers */
								background: -moz-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* IE10+ */
								background: linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
								box-shadow:0px -1px 3px rgba(0, 0, 0, 0.25);
								text-align:center;
								}

