<!DOCTYPE html>
<%=  processTemplate('_head') %>  
  
  <body> 
    <div class="container">
      <div class="row">
        <!-- Start of page: #share -->
        <div data-role="page" id="share" data-theme="a">
          <div class="container">
	    
	    <div data-role="content" data-theme="a">
	      <center><h4>Share this site.</h4></center>
	      <center><h5>Scan with your phone!</h5></center>
	      <center><img src="images/qr.jpg" alt="290px QR code" /></center>
	      
	      <hr />
	      
	      <p><a href="#" data-role="button" data-icon="star" data-theme="c">Twitter</a></p>
	      <p><a href="#" data-role="button" data-icon="star" data-theme="c">Facebook</a></p>
	      <p><a href="#" data-role="button" data-icon="star" data-theme="c">Email</a></p>
	      
	      <p><a href="index.html" data-role="button" data-ajax="false" data-icon="home" data-theme="a">Home</a></p>
	    </div><!-- content -->

          </div><!-- /container -->
        </div><!-- /share -->

      </div><!-- /row -->
    </div><!-- /container -->
  </body>
</html>
