<html lang="en">
  <%=  processTemplate('_head') %>  
  <body> 
    <div class="container">
      <div id="offers" class="row">
        <!-- Start of page: #offers -->
        <div id="navbar" data-role="header" data-theme="a">
	  <div data-role="navbar">
	    <ul>
	      <li><a href="#" data-icon="phone">Call</a></li>
	      <li><a href="#" data-icon="sms">Text</a></li>
	      <li><a href="#" data-icon="email">Email</a></li>
	    </ul>
	  </div><!-- /navbar -->
        </div><!-- /global-header -->
	
        <header>
          <div class="twelve columns">
            
    	    <!-- =====  LOGO IMAGE WILL APPEAR HERE (MUST BE 320px X 100px)  ===== -->
            
    	    <img src="../../images/black/logo.png" alt="logo image" />
	    <h3>Atlanta Electrical</h3>
    	    
    	    <!-- =====  LOGO IMAGE WILL APPEAR HERE (MUST BE 320px X 100px)  ===== -->
            
          </div>
        </header><!-- /header -->
	
        <div id="island-a" class="twelve columns">
	  <h4>Special Offers</h4>
            <% _.each(doc['special-offers'], function(val, key){ %>
	    <h5>Special <%= key %></h5>
               <p class="name"> Special offer name: <i><%= val['name'] %></i></p>
               <p class="name"> Discount amount: <i><%= val['discount-amount'] %></i></p>
               <p class="name"> Discount type: <i><%= val['discount-type'] %></i></p>
               <p class="name"> Description: <i><%= val['description'] %></i></p>
          <% }) %>
        </div>
	
        <div id="island-b" class="twelve columns">
	  <ul class="block-grid two-up">
	    <li><p><a href="areas.html" class="nice white medium button">Areas</a></p></li>
	    <li><p><a href="testimonials.html" class="nice white medium button">Testimonials</a></p></li>
	  </ul>
        </div>
	
	<a href="index.html" class="nice black medium button">Home</a>

        <div data-role="footer" data-theme="a">
          <h4>Built with <a href="http://www.scanshowsell.com">ScanShowSell.com</a></h4>
        </div><!-- /footer -->

      </div><!-- /row -->
    </div><!-- /container -->
  </body>
</html>
