<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <meta charset="utf-8" />
  
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  
  <title>Smith &amp; Sons Flooring</title>
  <%= processTemplate('_head') %>
</head>

<body>

  <div class="container hide-on-phones">
    <div id="browser-alert" class="row">
      <div class="ten columns centered">
        <h2>Please view this website on your mobile phone.</h2>
        <h4>Build your mobile website today with<br /><a href="http://www.scanshowsell.com">ScanShowSell.com</a></h4>
      </div>
    </div>
  </div>

  <div class="container show-on-phones hide-on-desktops">
    <div id="island-a" class="row">
      <div class="twelve columns">
        <header>
          <h3 class="site-name">Smith &amp; Sons Flooring</h3>
          <p class="tagline">Established in 1899</p>
          <hr />
        </header>
      </div>
    <!--
      <div class="twelve columns">
        <div class="hero-wrap">
            <img src="http://placehold.it/274x100" alt="optional image" />
        </div> /hero-wrap
      </div>
    -->
      <div id="toolbar-wrap" class="twelve columns">
        <ul id="toolbar" class="block-grid three-up">
          <li><a href=""><img src="../images/orange/icn-phone.png" alt="Call" /></a></li>
          <li><a href=""><img src="../images/orange/icn-text.png" alt="Text" /></a></li>
          <li><a href=""><img src="../images/orange/icn-email.png" alt="Email" /></a></li>
        </ul>
      </div><!-- /toolbar-wrap -->
    </div><!-- /row -->

    <div id="btn-group-wrap" class="row">
      <div id="btn-group" class="twelve columns">
        <div class="btn-wrap">
          <a href="req-service.html" id="req-service" class="button large nice white">Request Service</a>
          <a href="req-estimate.html" id="req-estimate" class="button large nice white">Request Estimate</a>
          <a href="req-consult.html" id="req-consult" class="button large nice white">Request Consultation</a>
          <a href="contact.html" id="req-contact" class="button large nice white">Contact Information</a>
        </div>
      </div><!--/span-->
    </div><!-- /row -->

    <div id="list-group" class="row">
      <div class="twelve columns">
        <ul id="list-panel" data-role="listview" data-inset="true" data-theme="a">
          <li class="panel-service"><a href="services.html" class="services">
            <h5>Our Services</h5>
            <p>What can we do for you?</p>
          </a></li>
          <li class="panel-about"><a href="about.html" class="about">
            <h5>About Us</h5>
            <p>Get to know us.</p>
          </a></li>
          <li class="panel-areas"><a href="areas.html" class="areas">
            <h5>Service Areas</h5>
            <p>We are based in the Atlanta area.</p>
          </a></li>
          <li class="panel-offers"><a href="specials.html" class="offers">
            <h5>Special Offers</h5>
            <p>Check out our latest deals!</p>
          </a></li>
          <li class="panel-testimonials"><a href="testimonials.html" class="testimonials">
            <h5>Testimonials</h5>
            <p>See what people think of us!</p>
          </a></li>
          <li class="panel-credentials"><a href="credentials.html" class="credentials">
            <h5>Credentials</h5>
            <p>We are professionally licensed.</p>
          </a></li>
        </ul>
      </div>
    </div><!-- /button-stack -->

    <footer>
      <a href="http://www.scanshowsell.com" class="button radius racetrack">Tap here to build your mobile site with ScanShowSell.</a>
      <div id="island-f" class="row">
        <div id="copyright" class="twelve columns">
          <p>&copy;&nbsp;2012, Smith &amp; Sons Flooring</p>
        </div><!-- /copyright -->
      </div><!-- /island-c -->
    </footer>
  </div><!--/.container-->
</body>
</html>
